@import "fonts.css";

@media (min-width: 1px) {
    .header {
        background: transparent;
        height: 60px;
        background: #ec008c;
        position: relative;
        z-index: 2;
    }

    .menu-link-elem {
        color: #000;
        text-decoration: none;
        display: block;
    }

    .menu-child {
        padding: 12px 0 0;
        position: relative;
        display: block;
    }

    .logo-wrapper {
        display: block;
        padding: 16px 20px;
        transition: all 0.5s ease;
        position: absolute;
        left: -80%;
        width: 90%;
    }

    .logo-wrapper.open {
        left: -1%;
    }

    .logo-wrapper .logo-text {
        transition: all 0.5s ease;
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    .logo-text {
        vertical-align: middle;
    }

    .logo-text > img {
        width: 60px;
    }

    .hero {
        background-image: url(../images/background-image.jpg);
        height: 240px;
        transition: margin-left .5s;
        background-repeat: no-repeat;
        background-size: cover
    }

    .hero > .main-title {
        display: none;
    }

    .logo .show {
        left: 0;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .hamburguer {
        left: -100%;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .hamburguer.show {
        left: 0;
    }

    .close {
        left: -100%;
        -webkit-transition: all 0.5s ease;
        transition: all 0.2s ease;
    }

    .close.show {
        left: 0;
        float: right;
    }

    .header > .menu-list {
        left: -100%;
        position: relative;
        display: block;
        padding: 0;
        margin: 0;
        max-width: 80%;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        top: 70px;
    }

    .logo-wrapper .toggle-menu {
        color: #FFF;
        display: inline-block;
        vertical-align: middle;
        float: right;
        font-size: 1.5em;
        cursor: pointer;
    }

    .logo-wrapper.open .toggle-menu::before {
        content: "\e5cd";
        font-family: 'icomoon';
    }

    .logo-wrapper .toggle-menu::before {
        content: "\e904";
        font-family: 'icomoon';
    }

    .header > .menu-list.active {
        left: 0;
    }

    .icon-chevron-down::after,
    .icon-chevron-left::after,
    .icon-chevron-right::after,
    .icon-chevron-up::after {
        transition: all 0.5s ease;
        display: block;
        position: absolute;
        top: 7px;
        right: 10px;
        color: #ec008c;
        font-size: 1.5em;
    }

    .icon-chevron-down.active {
        padding-bottom: 0;
    }

    .icon-chevron-down.active::after {
        transform: rotate(180deg);
    }

    .open .menu-child:hover > a {
        color: #ec008c;
    }

    .menu-child:hover{
        background: #eee;
    }

    .menu-child .menu-list {
        position: relative;
        display: none;
        top: inherit;
        background: #FFF;
        margin: 0;
        padding: 0;
        font-family: 'Galaxie';
        font-size: 0.7em;
    }

    .menu-list.open {
        display: block;
    }

    .menu-link-elem {
        padding: 0 12px 12px;
    }

    .content {
        transition: all 0.5s ease;
    }

    .content.menu-open {
        margin-left: 80%;
    }

    .copy .title {
        color: #000;
        display: block;
        font-family: HUGEAvantGardeBold;
        font-size: 40px;
        padding: 50px 24px 50px 24px;
        margin: 0;
    }

    .copy p {
        color: #000000;
        font-family: GalaxieBook;
        font-size: 14px;
        line-height: 24px;
        padding: 0px 24px 24px 24px;
    }

    .overlay {
        background-color: rgba(0,0,0,0.5);
        display: none;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .overlay.active {
        display: block;
        margin-left: 80%;
    }
}

@media (min-width:769px) {
    .header {
        background: #ec008c;
    }

    .logo-wrapper .toggle-menu {
        display: none;
    }

    .menu-link-elem {
        color: #FFF;
    }

    .logo-wrapper {
        display: inline-block;
        position: relative;
        left: auto;
        width: auto;
    }

    .logo {
        display: inline-block;
        vertical-align: middle;
    }

    .logo .hamburguer {
        left: -100%;
    }

    .logo .logo-text {
        display: inline-block;
        left: 0;
    }

    .header > .menu-list {
        left: auto;
        display: inline-block;
        vertical-align: middle;
        top: 0;
    }

    .menu-child {
        display: inline-block;
        padding: 22px 10px;
        position: initial;
        margin-left: 0;
    }

    .menu-child.active .menu-link-elem {
        color: #ec008c;
    }

    .menu-child.active {
        background: #FFF;
        padding-bottom: 22px;
    }

    .menu-link-elem:hover {
        color: #ec008c;
    }

    .menu-link-elem {
        color: #FFF;
    }

    .icon-chevron-down:after {
        display: none;
    }

    .menu-child .menu-list {
        position: absolute;
        top: 100%;
        margin-left: -10px;
    }

    .menu-child .menu-list .menu-link-elem{
        color: #000;
        padding: 0;
    }

    .menu-child .menu-list .menu-child {
        display: block; 
    }

    .hero {
        background-image: url(../images/background-image.jpg);
        height: 240px;
        transition: all 0.5s ease;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }

    .main-title {
        display: none;
        font-family: 'HUGEAvantGardeBold';
        font-size: 40px;
        width: 100%;
    }

    .hero .main-title {
        color: #FFF;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin: 0;
        font: 20vmin/1 HUGEAvantGardeBold;
        letter-spacing: -0.06em;
        text-align: center;
        display: block;
        font-size: 100px;
        width: auto;
    }

    .copy .title {
        display: none;
    }

    .copy p {
        font-size: 24px;
        padding-top: 60px;
        margin: auto;
        width: 968px;
        font-weight: lighter;
    }
}

body {
  /*background: #ec008c;
  color: #fff;*/
  margin: 0;
}

.header {
    font-family: 'HUGEAvantGardeBold';
    display: block;
}

.logo {
    color: #FFF;
}

.menu-list {
    list-style: none;
}

.menu-link-elem {
    text-decoration: none;
}

.menu-child .menu-list{
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.logo,
.logo-text,
.hamburguer,
.close {
    position: relative;
    /*display: inline-block;*/
}